<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       internalLogFile="logs\internal-nlog.txt" >

  <targets>
    <target xsi:type="File" name="file"
           layout="${longdate} ${logger} ${level}: ${message}${exception:format=ToString}"
           fileName="${basedir}/logs/logfile.txt"
           keepFileOpen="true"
           encoding="utf-8" />
    
    <target  xsi:type="ColoredConsole"
                name="console"
                layout="${longdate} ${level} - ${message}: ${exception:format=Message,Properties}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
  
</nlog>